<div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-lg-12">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <a href="/home/user">
          <div class="card-body" >
            <h4 class="card-title">Quản lý nhân viên</h4>
            <p class="card-category">Thêm tài khoản nhân viên</p>
          </div>
        </a>
        </div>
      </div>
      <div class="col-xl-6 col-lg-12">
        <div class="card card-chart">
          <div class="card-header card-header-warning">
            <div class="ct-chart" id="websiteViewsChart"></div>
          </div>
          <a href="/home/movie">
          <div class="card-body">
            <h4 class="card-title">Quản lý Phim</h4>
            <p class="card-category">Các chức năng thêm xóa sửa phim </p>
          </div>
        </a>
        </div>
      </div>
    
    </div>
  
  </div>
