table.dataTable tbody tr {
    background-color:unset!important;
  }
  .table-responsive {
    overflow-x: unset
  }
  th{
    text-align: center;
    width: 250px;
  }
  td{
    text-align: center
  }